@model WebsiteThreeHShop.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>
<h2 style="text-align:center">
    CHI TIẾT SÁCH
</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>
        <dt>
            Mô tả:
        </dt>
        <dd>
            @Html.Raw(@Model.NOIDUNGTT.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>
        <dt>
            Ảnh bìa:
        </dt>
        <dd>
            <img src="~/Content/imgweb/@Model.HINHMINHHOA" alt="">
        </dd>

        <dt>
            Giá bán:
        </dt>
        <dd>
            @Html.FormatValue(@Model.GIACA, "{0:#,##0}") VNĐ
        </dd>
        <dt>
            Danh mục:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DANHMUC.TENDM)
        </dd>
        <dt>
            Thời hạn:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TENLSP)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MASP }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SÁCH", "Index")
</p>
